#logo-256x256 {
  max-width: 256px;
  max-height: 256px;
}

@media (max-width: 300px) {
  #nav-logo {
    width: 11vw;
    height: auto;
  }
}

@media (min-width: 300px) {
  #nav-logo {
    width: 11vw;
    height: auto;
  }
}

@media (min-width: 576px) {
  #nav-logo {
    width: 7vw;
    height: auto;
  }
}

@media (min-width: 768px) {
  #nav-logo {
    width: 5vw;
    height: auto;
  }
}

@media (min-width: 992px) {
  #nav-logo {
    width: 4vw;
    height: auto;
  }
}

@media (min-width: 1200px) {
  #nav-logo {
    width: 3vw;
    height: auto;
  }
}

